build/
**/build/

install/
**/install/

log/
**/log/


sensors_calibration_tool/

pix_data/

**/*.tar.gz
*.tar.gz

**/.DS_Store
yq

__pycache__/
**/__pycache__/


shared_folder/examples/latest/
**.bag