<launch>
    <arg name="topic_name" default="$(env png_topic_name_env)" />

<!-- output png -->
    <node name="extract" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME"> 
        <remap from="image" to="$(env png_topic_name_env)"/>
        <param name="filename_format" value="$(env png_file_path_env)"  type="str"/>
        <param name="encoding" value="bgr8" />
    </node>
</launch>