<launch>
    <arg name="topic_name" default="$(env pcd_topic_name_env)" />
<!-- output pcd  -->
    <node pkg="pcl_ros" type="pointcloud_to_pcd" name="pointcloud_to_pcd_node" output="screen">
        <remap from="input" to="$(env pcd_topic_name_env)" />
        <!-- <param name="filename" value="$(env pcd_file_path_env)" type="str"/> -->
        <param name="prefix" value="$(env pcd_file_path_env)" type="str"/>
        <!-- <param name="binary"   value="true" type="bool"/> -->
        <!-- <param name="frame_id" value="camera_link" /> -->
    </node>
</launch>